
@model IEnumerable<GAASquadSelector.Models.SquadSelector>

@{
    ViewBag.Title = "Index";
}

<h2>Squad Selector</h2>

@{ 
    Html.RenderPartial("_Players");
}


@*@{
    ViewBag.Title = "RetrievePositions";
}*@

<table>
  
</table>

