
@model IEnumerable<GAASquadSelector.Models.SquadSelector>

@{
    ViewBag.Title = "Index";
}

<h2>Squad Selector</h2>

@{ 
    Html.Partial("../Controllers/PlayersController/Index.cshtml");
}


@{
    ViewBag.Title = "RetrievePositions";
}

<table>
  
</table>

